# Core configuration.
[apply]
	whitespace = fix
[color]
	ui = true
	diff = true
	status = true
	branch = true
	interactive = true
[commit]
	gpgsign = true
[core]
	editor = code --wait
	whitespace = fix
	trustctime = false
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.1.0/bin/gh auth git-credential
[fetch]
	prune = true
[github]
	user = bryanveloso
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[pull]
	default = current
[push]
	default = matching
[rebase]
	autosquash = true
[rerere]
	enabled = 1
[status]
	submoduleSummary = true

# Aliases.
[alias]
	amend = commit --amend
	st = status

# Custom .gitconfigs.
[include]
	path = ~/.config/gitconfig/inc
[includeIf "gitdir:~/altair/"]
	path = ~/.config/gitconfig/altair
[includeIf "gitdir:~/avalonstar/"]
	path = ~/.config/gitconfig/avalonstar
[includeIf "gitdir:~/bryanveloso/"]
	path = ~/.config/gitconfig/bryanveloso
